# FAA - Práctica 0

In [12]:
from Datos import Datos
import EstrategiaParticionado

d1=Datos('./datasets/heart.csv')
d2=Datos('./datasets/tic-tac-toe.csv')

## Dataset Heart

In [13]:
print("NOMINAL ATRIBUTOS")
print(d1.nominalAtributos)

print("DICCIONARIO")
print (d1.diccionarios)

print("NUMBER OF ROWS")
print(d1.datos.shape[0])

print("MATRIZ DE DATOS")
d1.datos.head()

NOMINAL ATRIBUTOS
[False, True, True, False, False, False, True, False, True, False, True, True]
DICCIONARIO
{'Age': {}, 'Sex': {'F': 0, 'M': 1}, 'ChestPainType': {'ASY': 0, 'ATA': 1, 'NAP': 2, 'TA': 3}, 'RestingBP': {}, 'Cholesterol': {}, 'FastingBS': {}, 'RestingECG': {'LVH': 0, 'Normal': 1, 'ST': 2}, 'MaxHR': {}, 'ExerciseAngina': {'N': 0, 'Y': 1}, 'Oldpeak': {}, 'ST_Slope': {'Down': 0, 'Flat': 1, 'Up': 2}, 'Class': {'0': 0, '1': 1}}
NUMBER OF ROWS
918
MATRIZ DE DATOS

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Class
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0

In [15]:
estrategiaVC=EstrategiaParticionado.ValidacionCruzada(10)
estrategiaVC.creaParticiones(d1.datos)       # datos se refiere a la matriz numérica calculada en Datos
print("VALIDACIÓN CRUZADA")
print("Train-particion 0: ", estrategiaVC.particiones[0].indicesTrain)       # particiones contiene la lista de particiones
print("Test-particion 0: ", estrategiaVC.particiones[0].indicesTest)

print("Número de indices de train: ", len(estrategiaVC.particiones[0].indicesTrain))
print("Número de indices de test: ", len(estrategiaVC.particiones[0].indicesTest))

VALIDACIÓN CRUZADA
Train-particion 0:  [118, 791, 48, 129, 588, 207, 611, 507, 45, 504, 327, 854, 99, 844, 389, 516, 448, 352, 91, 51, 595, 502, 768, 225, 809, 792, 811, 719, 137, 622, 559, 819, 871, 832, 736, 273, 480, 664, 390, 18, 567, 883, 197, 602, 79, 361, 711, 372, 429, 295, 833, 378, 825, 66, 146, 793, 620, 387, 537, 738, 829, 849, 97, 208, 215, 251, 298, 272, 534, 808, 851, 294, 5, 426, 648, 268, 720, 866, 373, 178, 745, 349, 323, 544, 884, 149, 0, 618, 913, 570, 331, 58, 840, 314, 515, 239, 685, 683, 626, 890, 674, 471, 916, 505, 459, 204, 512, 42, 165, 367, 449, 44, 200, 380, 218, 740, 113, 269, 70, 132, 398, 875, 721, 857, 486, 675, 406, 878, 422, 886, 466, 296, 696, 304, 684, 147, 362, 276, 433, 257, 733, 261, 836, 454, 821, 900, 47, 590, 334, 663, 487, 739, 302, 303, 442, 608, 33, 231, 630, 596, 862, 346, 540, 111, 57, 65, 445, 517, 724, 154, 345, 336, 707, 585, 212, 193, 328, 131, 205, 843, 818, 333, 456, 360, 134, 90, 722, 451, 547, 616, 651, 589, 255, 322, 227, 855, 340, 185, 671, 7, 643, 363, 236, 640, 245, 583, 224, 221, 377, 93, 22, 308, 87, 21, 524, 416, 669, 102, 473, 909, 143, 477, 264, 216, 657, 759, 847, 520, 800, 338, 562, 162, 726, 258, 781, 710, 369, 713, 873, 199, 437, 319, 748, 879, 163, 267, 910, 443, 787, 161, 89, 138, 560, 183, 106, 266, 145, 71, 300, 68, 591, 619, 120, 545, 402, 639, 533, 546, 32, 463, 599, 72, 810, 85, 732, 432, 439, 101, 556, 566, 795, 614, 612, 413, 348, 747, 50, 831, 232, 670, 872, 142, 284, 310, 606, 281, 315, 64, 750, 603, 73, 794, 788, 326, 902, 151, 730, 12, 543, 136, 188, 420, 897, 848, 782, 609, 476, 563, 234, 166, 508, 119, 633, 880, 211, 501, 701, 368, 712, 518, 689, 580, 621, 431, 173, 109, 312, 856, 318, 198, 718, 655, 28, 381, 652, 354, 202, 288, 430, 299, 6, 94, 850, 332, 584, 695, 765, 572, 846, 152, 627, 624, 262, 52, 39, 270, 455, 893, 78, 632, 248, 839, 803, 698, 827, 899, 386, 20, 1, 457, 279, 357, 796, 95, 511, 217, 691, 472, 341, 686, 249, 43, 535, 282, 492, 826, 485, 734, 309, 60, 461, 756, 238, 906, 532, 564, 76, 116, 342, 604, 629, 491, 23, 14, 519, 337, 104, 786, 509, 359, 190, 523, 275, 460, 867, 600, 496, 366, 139, 375, 853, 392, 96, 911, 415, 521, 108, 752, 61, 679, 440, 157, 252, 220, 278, 905, 206, 558, 555, 557, 907, 842, 344, 662, 634, 210, 148, 241, 396, 647, 790, 917, 246, 330, 452, 798, 409, 329, 474, 896, 771, 242, 688, 805, 274, 681, 179, 704, 313, 742, 37, 168, 307, 321, 462, 837, 822, 499, 115, 581, 167, 475, 38, 735, 915, 490, 24, 635, 301, 861, 100, 852, 184, 479, 144, 8, 277, 186, 423, 412, 636, 514, 438, 615, 441, 610, 877, 192, 672, 779, 725, 172, 653, 628, 587, 716, 320, 498, 741, 876, 666, 124, 617, 642, 196, 814, 250, 650, 613, 394, 656, 644, 98, 226, 522, 425, 700, 135, 243, 105, 247, 868, 828, 904, 764, 865, 49, 494, 895, 654, 175, 343, 127, 497, 358, 393, 240, 59, 26, 450, 576, 203, 311, 784, 773, 801, 253, 592, 9, 797, 69, 67, 160, 551, 568, 549, 638, 744, 885, 891, 760, 554, 419, 607, 13, 189, 586, 435, 575, 888, 766, 324, 807, 123, 107, 371, 403, 746, 436, 484, 898, 775, 762, 410, 325, 706, 62, 235, 526, 731, 661, 677, 155, 561, 428, 550, 126, 577, 169, 882, 82, 667, 728, 687, 500, 271, 528, 503, 692, 223, 601, 469, 40, 903, 838, 531, 578, 418, 219, 694, 573, 552, 912, 751, 316, 743, 579, 213, 229, 379, 914, 705, 117, 680, 723, 823, 34, 489, 244, 817, 335, 569, 397, 444, 727, 641, 755, 46, 864, 465, 364, 31, 769, 446, 414, 593, 283, 637, 772, 530, 63, 194, 481, 845, 565, 156, 806, 19, 789, 860, 761, 495, 625, 758, 80, 729, 427, 892, 110, 176, 699, 467, 881, 767, 708, 75, 703, 538, 53, 536, 408, 260, 350, 813, 799, 30, 150, 673, 493, 376, 399, 623, 665, 254, 17, 187, 121, 388, 754, 84, 594, 114, 112, 571, 770, 4, 41, 385, 3, 177, 693, 405, 824, 395, 539, 863, 171, 869, 56, 816, 894, 365, 201, 780, 458, 776, 470, 447, 10, 128, 830, 417, 306, 841, 29, 317, 353, 259, 170, 757, 130, 682, 180, 83, 153, 714, 597, 27, 598, 191, 804, 717, 280, 453, 256, 140, 753, 424, 510, 697, 887, 542, 351, 293, 305, 658, 737, 237, 815, 230, 382, 774, 407, 292, 2, 141, 859, 158, 649, 400, 605, 290, 159, 646, 668, 777]
Test-particion 0:  [228, 858, 676, 297, 434, 174, 81, 506, 645, 541, 182, 286, 478, 86, 374, 11, 820, 574, 35, 709, 77, 525, 464, 411, 553, 870, 483, 25, 263, 103, 785, 384, 812, 15, 715, 289, 214, 122, 347, 468, 222, 383, 16, 265, 125, 660, 529, 702, 74, 287, 763, 874, 582, 678, 370, 209, 233, 749, 339, 783, 513, 195, 164, 802, 404, 690, 291, 356, 88, 482, 133, 36, 908, 55, 659, 778, 54, 889, 834, 92, 548, 391, 527, 401, 835, 181, 355, 488, 421, 631, 901, 285]
Número de indices de train:  826
Número de indices de test:  92

In [16]:
estrategiaVS=EstrategiaParticionado.ValidacionSimple(2, 0.3)
estrategiaVS.creaParticiones(d1.datos)       # datos se refiere a la matriz numérica calculada en Datos
print("VALIDACIÓN SIMPLE")
print("Train-particion 0: ", estrategiaVS.particiones[0].indicesTrain)       # particiones contiene la lista de particiones
print("Test-particion 0: ", estrategiaVS.particiones[0].indicesTest)

print("Número de indices de train: ", len(estrategiaVS.particiones[0].indicesTrain))
print("Número de indices de test: ", len(estrategiaVS.particiones[0].indicesTest))

VALIDACIÓN SIMPLE
Train-particion 0:  [694, 344, 832, 747, 93, 193, 895, 157, 299, 480, 79, 665, 81, 92, 133, 445, 909, 286, 456, 671, 541, 191, 836, 30, 112, 812, 444, 375, 200, 811, 269, 230, 318, 831, 778, 856, 55, 280, 78, 916, 608, 609, 241, 174, 162, 620, 475, 298, 743, 128, 62, 203, 261, 219, 526, 236, 303, 374, 788, 870, 291, 690, 807, 861, 844, 787, 276, 794, 603, 33, 239, 841, 805, 110, 848, 654, 192, 245, 166, 510, 574, 880, 134, 573, 795, 713, 863, 322, 469, 673, 168, 766, 561, 839, 11, 819, 642, 476, 553, 270, 523, 802, 699, 294, 736, 723, 222, 6, 233, 762, 160, 703, 210, 52, 804, 790, 616, 324, 623, 232, 67, 559, 409, 528, 838, 686, 223, 364, 704, 850, 764, 652, 773, 211, 378, 598, 589, 361, 337, 108, 234, 367, 7, 725, 95, 676, 711, 716, 472, 449, 593, 709, 867, 149, 218, 209, 302, 129, 798, 424, 890, 226, 317, 405, 514, 545, 422, 365, 343, 580, 610, 587, 268, 774, 768, 106, 283, 72, 446, 459, 777, 143, 18, 705, 639, 855, 532, 904, 822, 873, 119, 202, 39, 520, 301, 252, 612, 387, 633, 516, 829, 463, 34, 549, 784, 765, 10, 489, 628, 441, 377, 457, 69, 592, 376, 803, 243, 481, 172, 44, 357, 492, 506, 659, 263, 290, 284, 789, 431, 51, 614, 893, 26, 163, 814, 392, 852, 274, 75, 518, 326, 613, 248, 231, 197, 139, 57, 656, 450, 41, 260, 701, 15, 719, 420, 327, 356, 73, 183, 894, 727, 428, 147, 397, 818, 237, 800, 881, 546, 184, 320, 461, 570, 122, 180, 906, 383, 874, 868, 12, 28, 679, 726, 491, 693, 167, 142, 808, 360, 672, 331, 577, 666, 770, 663, 728, 316, 806, 418, 816, 837, 708, 71, 194, 25, 584, 76, 734, 786, 542, 748, 602, 287, 860, 437, 136, 439, 153, 201, 242, 155, 781, 724, 465, 159, 908, 305, 394, 80, 823, 651, 842, 891, 664, 36, 427, 827, 566, 479, 833, 655, 325, 467, 530, 649, 892, 438, 86, 391, 718, 632, 279, 739, 390, 879, 828, 407, 105, 90, 635, 896, 130, 158, 706, 622, 434, 500, 604, 205, 557, 271, 641, 887, 607, 710, 259, 31, 395, 443, 351, 499, 277, 744, 419, 404, 66, 851, 182, 398, 309, 238, 436, 717, 332, 680, 554, 590, 793, 186, 272, 453, 220, 32, 45, 552, 527, 363, 911, 126, 462, 244, 208, 63, 501, 643, 560, 645, 826, 380, 486, 834, 859, 877, 799, 330, 333, 689, 595, 359, 810, 763, 455, 288, 379, 667, 576, 117, 146, 400, 2, 224, 173, 204, 508, 118, 478, 471, 783, 511, 497, 421, 132, 468, 572, 278, 254, 91, 644, 460, 915, 754, 240, 328, 46, 684, 13, 314, 737, 137, 94, 415, 596, 454, 544, 17, 647, 662, 50, 537, 265, 474, 154, 235, 779, 775, 797, 406, 625, 640, 681, 225, 631, 496, 636, 413, 101, 399, 809, 215, 358, 228, 899, 355, 864, 176, 505, 683, 329, 156, 152, 423, 571, 227, 876, 250, 311, 720, 538, 820, 746, 843, 389, 578, 89, 494, 533, 600, 340, 206, 20, 824, 120, 660, 869, 396, 621, 54, 145, 495, 362, 189, 698, 60, 555, 24, 905, 485, 674, 82, 490, 267, 295, 502, 914, 568, 229, 883, 179, 319, 878, 661, 323, 646, 670, 338, 401, 517, 98, 339, 412, 16, 385, 23, 885, 77, 96, 440, 732, 257, 605, 104, 688, 902, 565, 846, 425, 171, 21, 741, 99, 702, 900, 247, 634, 313, 875, 707, 830, 144, 185, 750, 821, 307, 675, 503, 756, 858, 264, 715, 563, 742, 730, 213, 296, 56, 0, 258, 65, 116, 657, 297, 262, 430, 40, 912, 306, 700, 433, 687, 341, 757, 103, 483, 498, 281, 581, 353, 198, 540, 292, 519, 886, 755]
Test-particion 0:  [913, 884, 161, 658, 125, 521, 749, 97, 417, 529, 525, 536, 131, 617, 482, 669, 300, 87, 249, 432, 551, 731, 760, 346, 599, 648, 452, 148, 416, 275, 597, 524, 22, 196, 729, 321, 37, 907, 123, 845, 796, 14, 903, 43, 368, 83, 579, 638, 61, 522, 402, 825, 426, 68, 169, 84, 342, 582, 619, 282, 534, 214, 624, 70, 606, 113, 256, 697, 753, 738, 629, 312, 677, 547, 791, 696, 562, 140, 29, 212, 53, 1, 515, 691, 813, 692, 815, 8, 138, 513, 190, 722, 759, 414, 735, 221, 543, 366, 586, 854, 350, 897, 370, 567, 484, 195, 85, 42, 792, 857, 336, 47, 88, 583, 847, 585, 685, 504, 107, 135, 111, 447, 369, 408, 487, 751, 849, 871, 630, 678, 170, 74, 345, 464, 872, 601, 102, 58, 348, 493, 627, 255, 315, 4, 761, 901, 888, 780, 59, 393, 49, 335, 866, 539, 865, 334, 637, 668, 114, 769, 507, 740, 48, 776, 253, 558, 758, 181, 124, 151, 569, 785, 591, 178, 216, 352, 410, 3, 556, 588, 177, 285, 488, 207, 175, 618, 150, 772, 615, 611, 347, 246, 782, 289, 371, 109, 682, 714, 733, 448, 411, 349, 575, 164, 372, 304, 548, 853, 817, 752, 251, 100, 27, 354, 382, 626, 564, 386, 594, 889, 9, 767, 653, 721, 384, 458, 745, 477, 712, 266, 917, 466, 442, 550, 835, 451, 882, 127, 165, 910, 470, 509, 771, 187, 141, 388, 898, 64, 273, 435, 650, 531, 199, 38, 381, 19, 473, 512, 373, 5, 695, 840, 293, 188, 429, 310, 308, 403, 121, 217, 35, 535, 801, 115, 862]
Número de indices de train:  643
Número de indices de test:  275

In [17]:
# utilizar el método extraeDatos para obtener los datos de entrenamiento y test para cada partición
print("DATOS DE ENTRENAMIENTO")
d1.extraeDatos(estrategiaVC.particiones[0].indicesTrain).head()

DATOS DE ENTRENAMIENTO

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Class
118,35,0,3,120,160,0,2,185,0,0.0,2,0
791,51,1,0,140,298,0,1,122,1,4.2,1,1
48,36,1,2,112,340,0,1,184,0,1.0,1,0
129,42,1,2,120,228,0,1,152,1,1.5,1,0
588,67,1,0,140,219,0,2,122,1,2.0,1,1

In [18]:
print("DATOS DE TEST")
d2.extraeDatos(estrategiaVC.particiones[0].indicesTest).head()

DATOS DE TEST

,TLeftSq,TMidSq,TRightSq,MLeftSq,MMidSq,MRightSq,BLeftSq,BMidSq,BRightSq,Class
228,2,0,2,1,2,1,2,0,1,1
858,1,0,2,1,2,1,1,2,2,0
676,2,1,2,2,1,0,1,1,2,0
297,1,2,2,2,1,2,1,1,2,1
434,1,0,2,1,2,1,2,2,0,1

## Dataset Tic-Tac-Toe

In [19]:
print("NOMINAL ATRIBUTOS")
print(d2.nominalAtributos)

print("DICCIONARIO")
print (d2.diccionarios)

print("NUMBER OF ROWS")
print(d2.datos.shape[0])

print("MATRIZ DE DATOS")
d2.datos.head()

NOMINAL ATRIBUTOS
[True, True, True, True, True, True, True, True, True, True]
DICCIONARIO
{'TLeftSq': {'b': 0, 'o': 1, 'x': 2}, 'TMidSq': {'b': 0, 'o': 1, 'x': 2}, 'TRightSq': {'b': 0, 'o': 1, 'x': 2}, 'MLeftSq': {'b': 0, 'o': 1, 'x': 2}, 'MMidSq': {'b': 0, 'o': 1, 'x': 2}, 'MRightSq': {'b': 0, 'o': 1, 'x': 2}, 'BLeftSq': {'b': 0, 'o': 1, 'x': 2}, 'BMidSq': {'b': 0, 'o': 1, 'x': 2}, 'BRightSq': {'b': 0, 'o': 1, 'x': 2}, 'Class': {'negative': 0, 'positive': 1}}
NUMBER OF ROWS
958
MATRIZ DE DATOS

,TLeftSq,TMidSq,TRightSq,MLeftSq,MMidSq,MRightSq,BLeftSq,BMidSq,BRightSq,Class
0,2,2,2,2,1,1,2,1,1,1
1,2,2,2,2,1,1,1,2,1,1
2,2,2,2,2,1,1,1,1,2,1
3,2,2,2,2,1,1,1,0,0,1
4,2,2,2,2,1,1,0,1,0,1

In [21]:
estrategiaVC=EstrategiaParticionado.ValidacionCruzada(10)
estrategiaVC.creaParticiones(d2.datos)       # datos se refiere a la matriz numérica calculada en Datos
print("VALIDACIÓN CRUZADA")
print("Train-particion 0: ", estrategiaVC.particiones[0].indicesTrain)       # particiones contiene la lista de particiones
print("Test-particion 0: ", estrategiaVC.particiones[0].indicesTest)

print("Número de indices de train: ", len(estrategiaVC.particiones[0].indicesTrain))
print("Número de indices de test: ", len(estrategiaVC.particiones[0].indicesTest))

VALIDACIÓN CRUZADA
Train-particion 0:  [482, 45, 95, 134, 183, 190, 742, 712, 225, 799, 53, 182, 615, 520, 202, 381, 13, 111, 166, 723, 106, 100, 461, 686, 209, 411, 269, 230, 347, 415, 29, 490, 580, 774, 286, 407, 636, 178, 789, 405, 327, 613, 247, 954, 691, 232, 123, 206, 477, 895, 115, 624, 633, 628, 250, 276, 229, 344, 389, 294, 216, 773, 399, 594, 660, 932, 929, 386, 3, 915, 781, 137, 304, 778, 147, 444, 878, 207, 97, 503, 243, 346, 46, 238, 740, 174, 409, 376, 275, 90, 431, 957, 945, 814, 71, 150, 614, 688, 930, 928, 199, 51, 592, 822, 204, 143, 81, 656, 428, 272, 762, 290, 759, 938, 625, 152, 640, 699, 177, 815, 557, 74, 876, 474, 438, 459, 172, 423, 215, 881, 24, 795, 570, 398, 936, 75, 869, 425, 371, 231, 366, 890, 582, 104, 489, 718, 856, 658, 860, 855, 1, 889, 707, 913, 760, 848, 865, 706, 169, 217, 511, 951, 450, 952, 78, 499, 700, 753, 758, 527, 550, 689, 529, 205, 722, 145, 164, 4, 336, 842, 91, 421, 103, 524, 357, 251, 500, 23, 439, 289, 953, 558, 120, 777, 807, 612, 684, 838, 950, 31, 443, 716, 642, 475, 492, 745, 263, 170, 390, 340, 63, 173, 907, 168, 720, 248, 665, 808, 191, 437, 573, 30, 341, 306, 682, 905, 235, 292, 785, 59, 942, 201, 373, 0, 129, 369, 523, 813, 349, 555, 457, 645, 86, 198, 56, 293, 845, 196, 804, 892, 76, 102, 35, 149, 931, 433, 609, 200, 717, 52, 298, 600, 685, 404, 5, 403, 212, 830, 339, 334, 11, 598, 631, 36, 255, 571, 446, 73, 904, 187, 790, 868, 324, 441, 875, 933, 618, 641, 67, 748, 873, 244, 267, 448, 122, 744, 64, 345, 9, 866, 368, 549, 702, 328, 310, 57, 375, 643, 560, 221, 854, 735, 653, 733, 638, 534, 70, 432, 83, 632, 630, 410, 318, 175, 354, 501, 752, 44, 947, 519, 379, 734, 516, 737, 662, 910, 249, 460, 329, 694, 729, 751, 25, 351, 906, 507, 903, 419, 417, 819, 585, 776, 836, 481, 659, 127, 19, 412, 220, 620, 944, 256, 863, 6, 62, 486, 355, 309, 681, 956, 483, 867, 211, 528, 472, 148, 515, 563, 679, 714, 666, 297, 179, 782, 728, 701, 925, 312, 468, 809, 452, 852, 367, 37, 84, 621, 321, 159, 946, 543, 487, 541, 313, 687, 764, 55, 655, 66, 521, 768, 821, 919, 898, 901, 840, 88, 837, 709, 241, 281, 817, 228, 39, 305, 277, 49, 473, 418, 393, 859, 551, 335, 189, 512, 356, 325, 246, 54, 184, 713, 587, 138, 887, 657, 849, 291, 562, 28, 918, 796, 530, 732, 442, 262, 553, 810, 574, 601, 888, 880, 882, 253, 623, 897, 436, 15, 578, 726, 565, 22, 463, 893, 447, 827, 663, 284, 826, 34, 413, 451, 105, 775, 667, 195, 857, 670, 883, 766, 510, 233, 948, 440, 128, 835, 674, 323, 834, 171, 805, 401, 885, 109, 414, 803, 736, 287, 824, 747, 126, 156, 590, 455, 378, 465, 458, 154, 478, 577, 10, 352, 498, 108, 176, 301, 750, 380, 902, 559, 561, 829, 646, 749, 584, 743, 497, 400, 861, 926, 307, 131, 696, 626, 920, 42, 261, 124, 17, 644, 343, 467, 316, 160, 546, 268, 282, 839, 539, 50, 552, 365, 791, 113, 387, 224, 471, 548, 711, 491, 769, 117, 186, 513, 710, 820, 871, 761, 213, 608, 429, 593, 518, 2, 362, 116, 874, 146, 245, 101, 265, 949, 794, 125, 162, 708, 494, 33, 767, 480, 672, 664, 721, 741, 222, 914, 891, 802, 319, 453, 311, 564, 449, 693, 308, 254, 218, 388, 695, 43, 896, 85, 271, 617, 374, 197, 818, 110, 798, 937, 924, 219, 704, 165, 14, 755, 295, 135, 783, 361, 41, 364, 935, 193, 921, 188, 384, 675, 884, 360, 770, 525, 589, 698, 434, 812, 332, 402, 237, 394, 532, 338, 771, 385, 514, 604, 395, 314, 923, 167, 581, 877, 738, 456, 823, 435, 616, 850, 114, 943, 236, 765, 832, 397, 825, 508, 258, 370, 391, 522, 506, 320, 754, 392, 786, 488, 627, 98, 784, 21, 671, 661, 303, 151, 536, 203, 575, 730, 27, 719, 65, 678, 495, 864, 466, 424, 484, 93, 746, 279, 445, 20, 544, 533, 163, 227, 547, 377, 793, 605, 607, 260, 18, 566, 26, 703, 353, 647, 772, 257, 610, 61, 288, 396, 629, 144, 350, 274, 916, 427, 531, 504, 668, 673, 296, 285, 161, 899, 862, 843, 185, 595, 58, 841, 133, 652, 727, 912, 517, 900, 462, 139, 535, 239, 606, 273, 940, 194, 731, 226, 858, 569, 690, 130, 540, 894, 208, 342, 634, 454, 315, 493, 879, 132, 302, 622, 422, 538, 683, 210, 107, 77, 847, 651, 927, 420, 725, 469, 214, 476, 596, 603, 739, 844, 526, 430, 567, 270, 792, 909, 705, 677, 470, 464, 87, 697, 939, 252, 372, 119, 537, 650, 48, 669, 599, 816, 602, 922, 96, 264, 47, 479, 917, 7, 348, 801, 576, 908, 82, 715, 68, 283, 408, 779, 12, 505, 383, 870, 586, 157, 359, 955, 680, 278]
Test-particion 0:  [158, 851, 140, 382, 118, 326, 136, 358, 800, 648, 542, 637, 234, 72, 597, 112, 788, 94, 780, 831, 142, 579, 886, 406, 40, 16, 32, 242, 911, 337, 806, 583, 223, 79, 99, 787, 181, 426, 509, 416, 756, 69, 502, 496, 639, 572, 692, 649, 941, 853, 240, 92, 60, 80, 330, 363, 141, 797, 192, 155, 934, 266, 654, 259, 38, 180, 333, 568, 280, 8, 299, 757, 554, 676, 591, 828, 556, 635, 811, 872, 331, 724, 153, 89, 485, 121, 611, 763, 545, 322, 833, 317, 300, 619, 588, 846]
Número de indices de train:  862
Número de indices de test:  96

In [22]:
estrategiaVS=EstrategiaParticionado.ValidacionSimple(2, 0.3)
estrategiaVS.creaParticiones(d2.datos)       # datos se refiere a la matriz numérica calculada en Datos
print("VALIDACIÓN SIMPLE")
print("Train-particion 0: ", estrategiaVS.particiones[0].indicesTrain)       # particiones contiene la lista de particiones
print("Test-particion 0: ", estrategiaVS.particiones[0].indicesTest)

print("Número de indices de train: ", len(estrategiaVS.particiones[0].indicesTrain))
print("Número de indices de test: ", len(estrategiaVS.particiones[0].indicesTest))

VALIDACIÓN SIMPLE
Train-particion 0:  [178, 601, 13, 471, 568, 570, 805, 612, 833, 755, 423, 144, 54, 87, 500, 412, 165, 106, 429, 769, 93, 316, 638, 654, 105, 753, 207, 766, 775, 910, 635, 288, 860, 720, 685, 470, 72, 891, 34, 924, 499, 832, 827, 579, 706, 651, 335, 399, 904, 522, 376, 154, 630, 937, 843, 916, 232, 823, 0, 722, 143, 819, 278, 418, 621, 52, 536, 275, 716, 48, 796, 227, 857, 206, 434, 822, 729, 264, 128, 789, 141, 658, 814, 694, 641, 893, 689, 506, 573, 248, 896, 247, 160, 853, 735, 718, 119, 515, 943, 821, 310, 632, 124, 28, 214, 161, 283, 370, 869, 318, 903, 741, 871, 690, 461, 656, 187, 292, 479, 951, 894, 932, 382, 156, 743, 867, 314, 79, 8, 617, 29, 680, 773, 293, 417, 590, 540, 739, 771, 114, 1, 628, 889, 940, 915, 130, 456, 516, 613, 721, 271, 402, 620, 732, 859, 914, 817, 208, 737, 637, 9, 463, 703, 40, 922, 299, 427, 862, 501, 134, 53, 438, 202, 319, 811, 151, 95, 259, 919, 185, 317, 5, 240, 484, 289, 190, 218, 235, 309, 649, 877, 607, 406, 900, 921, 513, 180, 388, 730, 420, 121, 219, 660, 852, 19, 369, 290, 504, 138, 241, 390, 348, 571, 594, 475, 306, 688, 61, 829, 368, 255, 502, 954, 140, 792, 74, 157, 793, 640, 925, 581, 197, 291, 917, 553, 462, 315, 808, 847, 562, 355, 352, 488, 760, 163, 287, 884, 395, 281, 803, 618, 606, 539, 757, 657, 731, 442, 236, 215, 952, 795, 872, 12, 849, 439, 269, 790, 836, 465, 7, 326, 132, 238, 385, 873, 401, 379, 182, 387, 676, 373, 799, 233, 774, 339, 670, 763, 171, 719, 451, 600, 509, 876, 120, 780, 258, 699, 734, 62, 327, 534, 148, 748, 273, 302, 752, 229, 920, 242, 779, 266, 286, 663, 375, 419, 552, 923, 467, 474, 435, 415, 580, 36, 549, 850, 112, 669, 261, 783, 243, 622, 3, 338, 142, 604, 307, 489, 110, 222, 10, 224, 653, 813, 624, 83, 85, 446, 738, 510, 129, 707, 113, 744, 785, 687, 543, 599, 709, 512, 361, 880, 575, 324, 683, 701, 802, 588, 953, 57, 615, 858, 193, 437, 503, 674, 751, 560, 824, 4, 146, 71, 806, 597, 816, 145, 426, 428, 955, 765, 956, 41, 91, 365, 425, 322, 363, 168, 172, 104, 274, 75, 298, 586, 131, 39, 405, 882, 371, 702, 216, 576, 81, 888, 682, 927, 460, 931, 296, 490, 841, 589, 782, 928, 905, 610, 569, 712, 957, 33, 909, 692, 838, 174, 118, 189, 279, 544, 213, 935, 518, 411, 436, 746, 559, 758, 263, 305, 532, 126, 117, 413, 217, 820, 175, 431, 496, 344, 477, 55, 724, 432, 82, 787, 356, 362, 491, 717, 311, 424, 23, 452, 331, 80, 761, 678, 633, 221, 608, 86, 230, 198, 885, 246, 400, 84, 533, 946, 898, 810, 933, 239, 353, 22, 911, 384, 88, 598, 826, 201, 90, 892, 372, 890, 493, 366, 35, 60, 480, 541, 627, 926, 728, 66, 528, 944, 421, 750, 525, 394, 684, 464, 450, 343, 374, 725, 184, 807, 558, 886, 407, 150, 519, 408, 726, 44, 517, 73, 788, 257, 878, 492, 68, 108, 742, 135, 567, 840, 556, 220, 225, 830, 547, 901, 445, 414, 733, 11, 472, 46, 650, 591, 561, 550, 828, 485, 566, 94, 47, 351, 639, 715, 482, 754, 430, 756, 332, 647, 97, 643, 659, 267, 262, 2, 133, 245, 844, 887, 812, 786, 337, 936, 950, 881, 668, 67, 698, 596, 661, 89, 939, 260, 704, 42, 666, 176, 691, 583, 671, 505, 834, 196, 295, 43, 250, 592, 861, 32, 634, 664, 377, 252, 204, 883, 396, 537, 223, 713, 380, 249, 18, 557, 494, 203, 308, 56, 383, 514, 25, 226, 662, 325, 631, 391, 179, 714, 469, 313, 941, 158, 776, 265, 455, 918, 17, 582, 531, 851, 453, 605, 194, 777, 441, 611, 554, 254, 848, 448, 577, 564, 578, 101]
Test-particion 0:  [50, 359, 727, 602, 498, 929, 303, 251, 170, 835, 524, 466, 152, 45, 301, 300, 677, 312, 69, 930, 842, 781, 593, 907, 137, 357, 333, 874, 15, 507, 346, 648, 856, 164, 934, 92, 778, 546, 912, 37, 527, 947, 244, 340, 548, 839, 800, 551, 644, 801, 209, 127, 350, 277, 38, 764, 205, 645, 212, 64, 440, 679, 736, 122, 294, 360, 183, 614, 177, 123, 422, 938, 389, 398, 865, 908, 672, 410, 125, 186, 563, 98, 381, 342, 897, 63, 354, 762, 58, 942, 652, 784, 595, 868, 913, 846, 149, 147, 109, 297, 695, 495, 642, 386, 487, 282, 603, 646, 854, 139, 364, 545, 77, 526, 749, 341, 768, 378, 572, 468, 673, 791, 705, 268, 574, 481, 508, 759, 804, 173, 945, 523, 136, 78, 192, 320, 397, 454, 740, 228, 100, 167, 393, 686, 103, 70, 444, 626, 625, 270, 449, 6, 76, 211, 623, 155, 153, 409, 864, 818, 162, 181, 745, 866, 237, 616, 14, 30, 392, 794, 336, 619, 863, 486, 27, 708, 285, 497, 195, 949, 665, 358, 555, 478, 349, 845, 831, 457, 655, 347, 443, 693, 24, 609, 16, 879, 284, 345, 188, 111, 700, 870, 797, 875, 584, 330, 20, 404, 280, 906, 902, 815, 323, 565, 855, 585, 809, 675, 276, 697, 328, 191, 21, 51, 948, 107, 529, 329, 636, 511, 535, 102, 433, 115, 530, 210, 723, 476, 169, 234, 403, 256, 770, 711, 459, 31, 304, 367, 629, 231, 587, 538, 116, 59, 253, 895, 199, 747, 521, 825, 166, 681, 26, 416, 458, 772, 272, 96, 49, 473, 200, 798, 542, 899, 767, 483, 667, 99, 65, 837, 159, 710, 696, 334, 447, 321, 520]
Número de indices de train:  671
Número de indices de test:  287

In [23]:
# utilizar el método extraeDatos para obtener los datos de entrenamiento y test para cada partición
print("DATOS DE ENTRENAMIENTO")
d2.extraeDatos(estrategiaVC.particiones[0].indicesTrain).head()

DATOS DE ENTRENAMIENTO

,TLeftSq,TMidSq,TRightSq,MLeftSq,MMidSq,MRightSq,BLeftSq,BMidSq,BRightSq,Class
482,1,0,0,0,1,0,2,2,2,1
45,2,2,2,1,0,0,1,2,1,1
95,2,2,1,1,2,0,0,1,2,1
134,2,1,2,1,0,2,1,0,2,1
183,2,1,1,0,2,0,1,2,2,1

In [24]:
print("DATOS DE TEST")
d2.extraeDatos(estrategiaVC.particiones[0].indicesTest).head()

DATOS DE TEST

,TLeftSq,TMidSq,TRightSq,MLeftSq,MMidSq,MRightSq,BLeftSq,BMidSq,BRightSq,Class
158,2,1,1,2,1,2,2,2,1,1
851,1,0,2,2,1,2,1,2,1,0
140,2,1,2,0,2,0,2,1,1,1
382,1,1,2,1,2,2,2,1,2,1
118,2,1,2,2,0,1,2,1,0,1